<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarBo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6416B8F51D4238B1009B4A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6416B90E1D4238B2009B4A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6416B9191D4238B2009B4A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
